html,
body {}

p {
    font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4 {
    font-weight: bold;
    font-family: "Fondamento", cursive;
}


.wholepage{
    width: 100%;
}

.leftside_filters{
    float: left;
    width: 25%;
    height: 100vh;
    background-color: #FFFFFF;
}

#exportbutton, #manualbutton{
    background-color: #6D767E;
    color: white;
}

.leftsideheaders{
    color: #007BFF;
}

#updatevizbutton{
    background-color: #007BFF;
    color: white;
}

#customareabutton{
    background-color: white;
    color: #007BFF;
}

.rightside_mainpage{
    float: right;
    width: 75%;
    height: 100vh;
    background-color: #f3f3f3;
}

#geographic_map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#linechart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}